/* https://colourco.de/monochrome-light/5/230c0c */ 
body {
  background-color: #F8F9F9;
  color: #155B65;
  font-family: 'Noto Sans Japanese', sans-serif;
}

a {
color:#FF4000;
}

img{
  width: 500px; height: 500px;
  object-fit: contain;
}

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    width: 100%;
    /*background-color: #89c7de;*/
    font-size: xx-small;
    color: #CCCCCC
    text-align: center;
    padding: 30px 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
