<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles/stylesheet.css" media="screen">
        <meta charset="utf-8">
    　　　　　　 <br>
        ...<a href=https://hihumi-riku.github.io/><font size="1">ホーム</font></a></>...<a href=https://hihumi-riku.github.io/writings_list.html><font size="1">書き物</font></a></>...<a href=https://hihumi-riku.github.io/photos_list.html><font size="1">写真</font></a></>
        <br>
        <br>
        <title>{{ page.title }}</title>
    </head>
    <div class="wrapper">

    <body style="margin:10%; ">
    <div class="wrapper">

        {{ content }}
    　　　　　　 <br>
        <br>
        <br>
    </div>
        <footer>
    　　　　　　 <br>
      </footer>

    </body>
</html>
